@import "~materialize-css/dist/css/materialize.min.css";

.container,
.card-wrapper {
  padding-top: 150px;
}

nav {
  position: fixed;
  z-index: 1;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 0px;
    transform: translateX(0);
  }
}
